@media print {
  *, *::before, *::after {
    box-shadow: none !important;
    text-shadow: none !important;
  }
	
	body {
		--color-bg: #fff !important;
	}

  body, main, article {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 12pt;
    line-height: 1.5;
  }

	p {
		margin: 0.25cm auto;
	}

  a[href]:not([href^="#"]):not([href^="javascript:"])::after {
    content: " (" attr(href) ")";
    font-size: 0.8em;
    font-weight: normal;
  }


  header, footer, nav, aside, iframe, button, .no-print {
    display: none !important;
  }

  h1, h2, h3 {
    break-after: avoid;
    break-inside: avoid;
  }
  
  img, table, pre, blockquote {
    break-inside: avoid;
  }

  ul, ol {
    break-inside: auto;
  }
  
  li {
    break-inside: avoid;
  }

	section {
		break-inside: avoid;
	}

  @page {
    margin: 2cm;
  }

	.print-only {
		display: block;
	}

	#content {
		margin: 0 auto;
		max-width: none;
		width: 100%;
	}

	article.topic {
		margin-top: 2cm;
		break-inside: avoid;
	}

	details {
		background: #fff;
	}

	details svg {
		display: none;
	}
	
	.topic-overview-stats {
		margin: 0.5cm 0;
		padding: 0;
	}

	.topic-opinion[open] {
		background: #fff;
	}

	.topic-opinion-sample ul {
		display: block;
	}

	.topic-opinion-sample li {
		border: none;
		padding: 0.25cm;
	}

	.topic-overview-stats span.badge {
		margin: 0;
		padding: 0;
		border: none;
		width: auto;
		color: #000 !important;
		background: #fff !important;
		font-size: 12pt;
	}

	.summary-stats {
		display: none;
	}

	[data-tippy-root] {
		display: none !important;
	}
}
